@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #33CCCC;
}

.vzlom {
    position: absolute;
    width: 797px;
    height: 92px;
    left: 562px;
    top: 171px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 92px;
    color: #000000;
}

.kod {
    position: absolute;
    width: 207px;
    height: 212px;
    left: 272px;
    top: 335px;
    background: url("/static/img/znW7Q3fGa0A.jpg");
    border-radius: 61px;
    z-index: 1;
}

a {
    position: absolute;
    width: 342px;
    height: 52px;
    left: 789px;
    top: 263px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #054545;
}

.text1 {
    position: absolute;
    width: 793px;
    height: 138px;
    left: 562px;
    top: 413px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    color: #000000;
}

.text2 {
    position: absolute;
    width: 676px;
    height: 69px;
    left: 635px;
    top: 471px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    color: #000000;
}

.hackericon {
    position: absolute;
    width: 128px;
    height: 144px;
    left: 896px;
    top: 55px;
    background: url("/static/img/hacker.png");
}

.shield {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 870px;
    top: 551px;
    background: url("/static/img/99623.png");
}

.lupa {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 250px;
    top: 315px;
    z-index: 3;
    background: url("/static/img/58427.png");
}

.raskol {
    position: absolute;
    width: 456px;
    height: 450px;
    left: 1220px;
    top: 135px;
    background: url("/static/img/240533-200.png");
    z-index: 3;
}

.kod2 {
    position: absolute;
    width: 132px;
    height: 103px;
    left: 1373px;
    top: 283px;
    background: url('/static/img/hejwPGnj9gE.jpg');
    border-radius: 52px;
}