@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #33cccc;
}

.oops {
    position: absolute;
    width: 194px;
    height: 105px;
    left: 863px;
    top: 161px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 114px;
    color: #000000;
}

.net {
    position: absolute;
    width: 715px;
    height: 120px;
    left: 658px;
    top: 249px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 104px;
    /* identical to box height */
    color: #000000;
}

.back {
    position: absolute;
    width: 257px;
    height: 29px;
    left: 837px;
    top: 353px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #00444A;
}

.cause {
    position: absolute;
    width: 475px;
    height: 52px;
    left: 805px;
    top: 418px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.cause1 {
    position: absolute;
    width: 479px;
    height: 52px;
    left: 656px;
    top: 540px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.cause2 {
    position: absolute;
    width: 536px;
    height: 52px;
    left: 658px;
    top: 617px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.cause3 {
    position: absolute;
    width: 478px;
    height: 52px;
    left: 658px;
    top: 698px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.cause4 {
    position: absolute;
    width: 804px;
    height: 52px;
    left: 658px;
    top: 779px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.sadcloud {
    position: absolute;
    width: 346px;
    height: 308px;
    left: 1297px;
    top: 264px;
    background: url("/static/img/sad-cloud.png");
}

.sadcloud1 {
    position: absolute;
    width: 344px;
    height: 280px;
    left: 271px;
    top: 482px;
    background: url("/static/img/sad-cloud1.png");
}