@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Montserrat:wght@200&display=swap');

body{
    width: 1920px;
    height: 1080px;

    background: #33CCCC;
}
.icon{
    position: absolute;
    width: 53px;
    height: 50px;
    left: 391px;
    top: 110px;

    background: url("/static/img/icons8-облако-100.png");
}
.kvadrat{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 375px;
    top: 91px;

    background: #009999;
    box-shadow: 15px 4px 4px rgba(0, 0, 0, 0.46);
    border-radius: 8px;
}
.text{
    font-family:"roboto";
    position: absolute;
    width: 600px;
    height: 146px;
    left: 362px;
    top: 350px;

    
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;

    color: #000000;
}
.text2{
    font-family:"jost";
    position: absolute;
    width: 470px;
    height: 194px;
    left: 362px;
    top: 535px;

    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;

    color: #000000;
}
.ww{
    position: absolute;
    width: 422px;
    height: 67px;
    left: 485px;
    top: 100px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}
input{
    position: absolute;
    width: 502px;
    height: 56px;
    left: 362px;
    top: 670px;

    background: rgba(41, 162, 162, 0.43);
    border: 1px solid #0B9898;
    box-sizing: border-box;
}
.submit{
    
    position: absolute;
    width: 98px;
    height: 54px;
    left: 873px;
    top: 670px;

    background: #0C9890;
    border-radius: 5px;
}
.textsubmit{
    position: absolute;
    width: 61px;
    height: 20px;
    left: 895px;
    top: 670px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
.cloud{
    position: absolute;
    width: 800px;
    height: 410px;
    left: 1111px;
    top: 335px;
    background-size: 100%;
    background: url("/static/img/5935366cd37fb15c77dc9942.png")
        
}
.sun{
    position: absolute;
    width: 312.39px;
    height: 282.04px;
    left: 1545px;
    top: 330px;

    background: url("/static/img/sun_PNG13419.png");
    filter: blur(10px);
}