@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jost:wght@300&display=swap');
body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #33CCCC;
}

text {
    position: absolute;
    width: 921px;
    height: 118px;
    left: 541px;
    top: 48px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;
    color: #006363;
}

.gradus {
    position: absolute;
    width: 93px;
    height: 126px;
    left: 500px;
    top: 256px;
    background: url("/static/img/15163.png");
}

.temp {
    position: absolute;
    width: 199px;
    height: 47px;
    left: 458px;
    top: 192px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}

.temperature {
    position: absolute;
    width: 41px;
    height: 52px;
    left: 522px;
    top: 399px;
    font-family: Itim;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}

.feeling {
    position: absolute;
    width: 88px;
    height: 26px;
    left: 521px;
    top: 451px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    color: #00675C;
}

.feelslike {
    position: absolute;
    width: 21px;
    height: 26px;
    left: 528px;
    top: 477px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    color: #00675C;
}

.barometr {
    position: absolute;
    width: 131px;
    height: 128px;
    left: 1301px;
    top: 256px;
    background: url("/static/img/barometer-gauge.png");
}

.pr {
    position: absolute;
    width: 155px;
    height: 52px;
    left: 1285px;
    top: 192px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.press {
    position: absolute;
    width: 127px;
    height: 52px;
    left: 1299px;
    top: 399px;
    font-family: Itim;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.wind {
    position: absolute;
    width: 84px;
    height: 52px;
    left: 918px;
    top: 192px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}

.flag {
    position: absolute;
    width: 122px;
    height: 122px;
    left: 897px;
    top: 256px;
    background: url("/static/img/1783750.png")
}

.speed {
    position: absolute;
    width: 88px;
    height: 52px;
    left: 916px;
    top: 399px;
    font-family: Itim;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.voda {
    position: absolute;
    width: 154px;
    height: 154px;
    left: 471px;
    top: 586px;
    background: url("/static/img/3313952.png");
}

.humi {
    position: absolute;
    width: 69px;
    height: 52px;
    left: 518px;
    top: 757px;
    font-family: Itim;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.vlaz {
    position: absolute;
    width: 163px;
    height: 52px;
    left: 463px;
    top: 520px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}

.st {
    position: absolute;
    width: 100px;
    height: 52px;
    left: 918px;
    top: 520px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.iconst {
    position: absolute;
    width: 169px;
    height: 170px;
    left: 875px;
    top: 578px;
    background: url("/static/img/22832.png");
}

.det {
    position: absolute;
    width: 260px;
    height: 104px;
    left: 900px;
    top: 748px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}

.vidimost {
    position: absolute;
    width: 177px;
    height: 52px;
    left: 1280px;
    top: 520px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.iconvidimost {
    position: absolute;
    width: 200px;
    height: 206px;
    left: 1263px;
    top: 560px;
    background: url("/static/img/118191.png");
}

.see {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1323px;
    top: 757px;
    font-family: Itim;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.creator {
    position: absolute;
    width: 289px;
    height: 34px;
    left: 891px;
    top: 888px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #125753;
}

.vkicon {
    position: absolute;
    width: 42px;
    height: 34px;
    left: 1075px;
    top: 889px;
    background: url("/static/img/vk-com.png");
}

a {
    position: absolute;
    width: 163px;
    height: 35px;
    left: 1120px;
    top: 886px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    color: #000000
}