<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/img/clouds.png" type="image/png" charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/static/weatherstyle.css">
    <title>погода</title>
</head>

<body>

    <div class="voda"></div>
    <div class="gradus"></div>
    <div class="barometr"></div>
    <div class="flag"></div>
    <div class="vlaz">влажность:</div>
    <div class="iconst"></div>
    <div class="iconvidimost"></div>
    <div class="vkicon" href="https://vk.com/id590997280"></div>


    <text class="temp">температура:</text>
    <text class="pr">давление:</text>
    <text class="wind">ветер:</text>
    <text class="st">статус:</text>
    <text class="vidimost">видимость:</text>
    <a href="https://vk.com/id590997280">низамов данил </a>
    <text class="creator">создатель сайта:</text>

    <text>сегодня в городе {{city}}</text>
    <text class="feeling">ощущается</text>
    <div class="det">{{detailed}}</div>

    <div class="humi">{{humidity}}%</div>
    <div class="feelslike">{{sense}}°</div>
    <div class="temperature">{{temp}}°</div>
    <div class="speed">{{windspeed}}m/c</div>
    <div class="press">{{press}}mm</div>
    <div class="see">{{visibility}}km</div>
</body>

</html>